---
apiVersion: contrail.juniper.net/v1alpha1
kind: Manager
metadata:
  name: cluster1
  namespace: contrail
spec:
  commonConfiguration:
    hostNetwork: true
    replicas: 3
  services:
    cassandras:
    - metadata:
        labels:
          contrail_cluster: cluster1
        name: cassandra1
      spec:
        commonConfiguration:
          create: true
          nodeSelector:
            node-role.kubernetes.io/master: ""
        serviceConfiguration:
          containers:
          - name: cassandra
            image: cassandra:3.11.4
          - name: init
            image: python:alpine
          - name: init2
            image: cassandra:3.11.4
    config:
      metadata:
        labels:
          contrail_cluster: cluster1
        name: config1
      spec:
        commonConfiguration:
          create: true
          nodeSelector:
            node-role.kubernetes.io/master: ""
        serviceConfiguration:
          cassandraInstance: cassandra1
          containers:
          - name: analyticsapi
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-analytics-api:master.latest
          - name: api
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-controller-config-api:master.latest
          - name: collector
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-analytics-collector:master.latest
          - name: devicemanager
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-controller-config-devicemgr:master.latest
          - name: dnsmasq
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-controller-config-dnsmasq:master.latest
          - name: init
            image: python:alpine
          - name: init2
            image: busybox
          - name: nodeinit
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-node-init:master.latest
          - name: redis
            image: redis:4.0.2
          - name: schematransformer
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-controller-config-schema:master.latest
          - name: servicemonitor
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-controller-config-svcmonitor:master.latest
          - name: queryengine
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-analytics-query-engine:master.latest
          - name: statusmonitor
            image: svl-artifactory.juniper.net/contrail-operator/engprod-269421/contrail-statusmonitor-debug:svl_artifactory.latest
          logLevel: SYS_DEBUG
          zookeeperInstance: zookeeper1
    controls:
    - metadata:
        labels:
          contrail_cluster: cluster1
          control_role: master
        name: control1
      spec:
        commonConfiguration:
          create: true
          nodeSelector:
            node-role.kubernetes.io/master: ""
        serviceConfiguration:
          cassandraInstance: cassandra1
          containers:
          - name: control
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-controller-control-control:master.latest
          - name: dns
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-controller-control-dns:master.latest
          - name: init
            image: python:alpine
          - name: named
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-controller-control-named:master.latest
          - name: nodeinit
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-node-init:master.latest
          - name: statusmonitor
            image: svl-artifactory.juniper.net/contrail-operator/engprod-269421/contrail-statusmonitor:svl_artifactory-debug.latest
    kubemanagers:
    - metadata:
        labels:
          contrail_cluster: cluster1
        name: kubemanager1
      spec:
        commonConfiguration:
          create: true
          nodeSelector:
            node-role.kubernetes.io/master: ""
        serviceConfiguration:
          cassandraInstance: cassandra1
          containers:
          - name: init
            image: python:alpine
          - name: kubemanager
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-kubernetes-kube-manager:master.latest
          - name: nodeinit
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-node-init:master.latest
          ipFabricForwarding: false
          ipFabricSnat: true
          kubernetesTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
          useKubeadmConfig: true
          zookeeperInstance: zookeeper1
    provisionManager:
      metadata:
        labels:
          contrail_cluster: cluster1
        name: provmanager1
      spec:
        commonConfiguration:
          create: true
          nodeSelector:
            node-role.kubernetes.io/master: ""
          replicas: 1
        serviceConfiguration:
          containers:
          - name: init
            image: python:alpine
          - name: provisioner
            image: svl-artifactory.juniper.net/contrail-operator/engprod-269421/contrail-operator-provisioner-debug:svl_artifactory.latest
    rabbitmq:
      metadata:
        labels:
          contrail_cluster: cluster1
        name: rabbitmq1
      spec:
        commonConfiguration:
          create: true
          nodeSelector:
            node-role.kubernetes.io/master: ""
        serviceConfiguration:
          containers:
          - name: init
            image: python:alpine
          - name: rabbitmq
            image: rabbitmq:3.7
    vrouters:
    - metadata:
        labels:
          contrail_cluster: cluster1
        name: vroutermaster
      spec:
        commonConfiguration:
          create: true
          nodeSelector:
            node-role.kubernetes.io/master: ""
        serviceConfiguration:
          cassandraInstance: cassandra1
          containers:
          - name: init
            image: python:alpine
          - name: nodeinit
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-node-init:master.latest
          - name: vrouteragent
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-vrouter-agent:master.latest
          - name: vroutercni
            image: michaelhenkel/contrailcni:v0.0.1
          - name: vrouterkernelbuildinit
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-vrouter-kernel-build-init:master.latest
          - name: vrouterkernelinit
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-vrouter-kernel-init:master.latest
          controlInstance: control1
    - metadata:
        labels:
          contrail_cluster: cluster1
        name: vrouternodes
      spec:
        commonConfiguration:
          create: true
          nodeSelector:
            node-role.opencontrail.org: vrouter
        serviceConfiguration:
          cassandraInstance: cassandra1
          containers:
          - name: init
            image: python:alpine
          - name: nodeinit
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-node-init:master.latest
          - name: vrouteragent
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-vrouter-agent:master.latest
          - name: vroutercni
            image: michaelhenkel/contrailcni:v0.0.1
          - name: vrouterkernelbuildinit
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-vrouter-kernel-build-init:master.latest
          - name: vrouterkernelinit
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-vrouter-kernel-init:master.latest
          controlInstance: control1
    webui:
      metadata:
        labels:
          contrail_cluster: cluster1
        name: webui1
      spec:
        commonConfiguration:
          create: true
          nodeSelector:
            node-role.kubernetes.io/master: ""
        serviceConfiguration:
          cassandraInstance: cassandra1
          containers:
          - name: init
            image: python:alpine
          - name: nodeinit
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-node-init:master.latest
          - name: redis
            image: redis:4.0.2
          - name: webuijob
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-controller-webui-job:master.latest
          - name: webuiweb
            image: svl-artifactory.juniper.net/contrail-nightly/contrail-controller-webui-web:master.latest
    zookeepers:
    - metadata:
        labels:
          contrail_cluster: cluster1
        name: zookeeper1
      spec:
        commonConfiguration:
          create: true
          nodeSelector:
            node-role.kubernetes.io/master: ""
        serviceConfiguration:
          containers:
          - name: init
            image: python:alpine
          - name: zookeeper
            image: docker.io/zookeeper:3.5.5
