apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: postgres.contrail.juniper.net
spec:
  group: contrail.juniper.net
  names:
    kind: Postgres
    listKind: PostgresList
    plural: postgres
    singular: postgres
  scope: ""
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Postgres is the Schema for the postgres API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: PostgresSpec defines the desired state of Postgres
          properties:
            containers: {}
            storage:
              properties:
                path:
                  type: string
                size:
                  pattern: ^([0-9]+)([KMGTPE]i)?$
                  type: string
              type: object
          type: object
        status:
          description: PostgresStatus defines the observed state of Postgres
          properties:
            active:
              type: boolean
            node:
              type: string
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
